.rectangle1 {
    background-color: #FF0000;
    width: 300px;
    height: 150px;
    transition: 1s;
}

.rectangle1:hover {
    transform: rotate(90deg) scale(0.8) translate(-2rem, -4rem);
    border-radius: 10%;
    transition: 2s ease-in;
}

.rectangle2 {
    background-color: #000000;
    width: 300px;
    height: 150px;
    transform: rotate(0.625turn) translate(2rem, 7rem);
    border-radius: 10%;
    transition: 1s linear;
}

.rectangle2:hover {
    background-color: #00FF00;
    transition: 1.5s;
}

.rectangle3 {
    background-color:#0000FF;
    width: 300px;
    height: 150px;
    transform: translate(15rem, -13rem) scale(1.2) rotate(-45deg);
    transition: 3s ease-out;
}

.rectangle3:hover {
    border-radius: 100%;
    transition: 3s ease-in;
}

.divider {
    width: 300px;
    height: 200px;
}

.short_divider {
    width: 300px;
    height: 105px;
}
